@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

$mariner: hsl(225, 48%, 46%);
$hawkes-blue: hsl(225, 48%, 46%);
// $hawkes-blue: hsl(220, 56%, 87%);
$hawkes-light-blue: hsl(220, 56%, 95%);
$black-pearl: hsl(212, 29%, 13%);
$light-red: hsl(0, 100%, 63%); /* warning */
$green: hsl(154, 59%, 51%); /* warning */
$whisper: hsl(0, 0%, 100%);
$font-fam-raleway: "Raleway", sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
