.myFooters {
   @include flexBox(row, center, space-between, 20px);
   background: $mariner;
   height: 70px;
   width: 100%;
   max-width: 1440px;
   min-width: 350px;
   color: $whisper;
   font-size: 14px;
   padding: 20px;

   & .codedBy {
      @include flexBox(row, center, flex-start, 10px);

      & img {
         width: 10px;
      }

      & a {
         text-decoration: none;
         color: $whisper;

         & span {
            position: relative;

            &::before {
               content: "";
               position: absolute;
               bottom: -5px;
               left: 0;
               width: 100%;
               border-bottom: 1px solid $whisper;
               transform: scale(0, 1);
               transform-origin: right;
               transition: transform 300ms ease-in-out;
            }

            &:hover::before {
               transform: scale(1, 1);
               transform-origin: left;
            }
         }
      }
   }

   & .termsPrivacyContainer {
      @include flexBox(row, center, flex-end, 10px);

      & .policy {
         position: relative;
         cursor: pointer;
         text-decoration: none;
         color: $whisper;

         &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $hawkes-light-blue;
            transform: scale(0, 1);
            transform-origin: right;
            transition: transform 300ms ease-in-out;
         }

         &:hover::before {
            transform: scale(1, 1);
            transform-origin: left;
         }
      }
   }
}
